.App {
  text-align: center;
}

body {
  background-color: red;
}

.form{
  text-align: center;
  object-position: center;
  width: 100vw;
  height: 80vh;
  top: 10vh;
  position: fixed;
}

.webcam{
  width: 100vw;
  height: 50vh;
  object-position: center;
  /* top: 10vh; */
  position: static;
}

.captureButton{
  float: left;
}

.submitButton{
  float: right;
}

.bottombar{
  width: 100vw;
  height: 10vh;
  background-color: white;
  color: red;
  text-align: center;
  object-position: center;
  font-size: 8vmin;
  bottom: 0vh;
  position: fixed;
}

.bar{
  width: 100vw;
  height: 10vh;
  background-color: white;
  color: red;
  font-size: 8vmin;
  text-align: center;
  object-position: center;
  /* font-display:inherit; */
  /* float: center; */
  top: 0vh;
  position: fixed;
}